@use "sass:color";
@use '../abstracts' as *;


.content--basic_cards{
    grid-row-gap: 0;
    .block{
        gap: 0;
        .card{
            padding: var(--sp-500) var(--sp-600);
            border: 1px solid var(--grey-300);
            margin: -.5px;
            display: flex;
            flex-direction: column;
            
            >*{
                flex-grow: 0;
                margin-bottom: var(--sp-300);
            }
            .text_area{
                .content{
                    p:noth(.small, .large, .jumbo){
                        font-size: 1em;
                        --text_color:#{$color_grey-800};
                        line-height: 1.45;
                    }
                }//content
            }//text_area

            .anchor_bottom{
                margin-top: var(--sp-500);
                margin-bottom: 0;
                flex-grow: 1;
                justify-content: flex-end;
                display: flex;
                flex-direction: column;
            }
        }//card
        //if the whole card is linked
        a.card{
            text-decoration: none;
            &:hover{
                background: var(--grey-100);
            }
           }
    

    }//block
    
}//section


