@charset "UTF-8";
#checkforrepeat {
  --hello:repeated;
}

.cta--center .block {
  --column_span: 8;
  --column_start: 4;
  text-align: center;
  padding: var(--sp-600) 0 var(--sp-300) 0;
}
.cta--center .block .text_area .content a {
  padding: var(--sp-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  text-decoration: none;
  transition: 0.3s all;
}
.cta--center .block .text_area .content a * {
  transition: 0.3s all;
}
.cta--center .block .text_area .content a .label {
  color: var(--blue-500);
}
.cta--center .block .text_area .content a h3 {
  font-weight: 400;
}
.cta--center .block .text_area .content a::after {
  content: "→";
  display: inline-block;
  font-size: 2rem;
  color: var(--text_color);
  position: relative;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  transition: 0.3s all;
}
.cta--center .block .text_area .content a:hover {
  --text_color:#0052cc;
}
.cta--center .block .text_area .content a:hover::after {
  margin-left: var(--sp-300);
}