@use "sass:color";
@use '../abstracts' as *;


.hero--article {
    
    .article-image.block{
        height: 100%;
        min-height: 35rem;
        grid-row: 1 / span 3;
        --column_span: 7;
		--column_start: 8;
        .image_area{
            @include cover_container();
            height: 100%;
            margin: 0;
            .content{
                @include image_cover();
                &::after{
                    position: absolute;
                    content:"";
                    bottom: 0;
                    right: 0;
                    background-image: url('media/logo-crop-white.svg');
                    background-position: bottom right;
                    background-size: fit;
                    width:.75rem;
                    padding-bottom: 80%;
    
                }
                img{
                    @include image_cover();
                }
            }
        }
    }

	.block.article-headline {
        --column_span: 6;
		--column_start: 2;
        .text_area{
            margin: var(--sp-500) 0 var(--sp-300);
        }
		.content {
            display: flex;
			flex-direction: column;
            gap: var(--sp-300);
            .tag{
                color: var(--accent);
            }
		}
	}//text_area headline
	.block.article-intro {
        --column_span: 6;
		--column_start: 2;
        .text_area{
            .content {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                p.large{
                    margin-bottom: var(--sp-300);
                    line-height: 145%;
                }
                p.small{
                    color:var(--grey-700)
                }
            }
        }

	}//text_area headline
    .social_links.block{
        --column_span: 6;
		--column_start: 2;
        margin-bottom: var(--sp-500);
        .content{
            display: flex;
            justify-content: start;
            gap:var(--sp-100);
            li{
                a{
                    display: block;
                    width: var(--sp-700);
                    height: var(--sp-700);
                    border-radius: 50%;
                    border:1px solid var(--grey-300);
                    color: var(--grey-700);
                    background-color:var(--white);
    
                    transition: background-color .3s, color .3s, border .3s;
    
                    svg{
                        width:60%;
                        fill:currentColor;
                        margin:10%;
                    }
    
                    &:hover, &:focus{
                        color: var(--white);
                        background-color:var(--grey-700);
                    }
                    &:focus{
                        outline:2px solid var(--grey-700);
                        outline-offset:2px;
                    }
    
                }
            }
        }
    }//.social_links

    &.featured-image, &.no-image{

        .article-image.block{
            grid-row: 1;
            --column_span: 14;
            --column_start: 1;
            .image_area{
                height: calc(100% - var(--sp-900));
            }
        }


        .block.article-headline {
            --column_span: 9;
            --column_start: 2;
            grid-row: 1;
            position: relative;
            padding: var(--sp-600) var(--sp-600) 0 var(--sp-600);
            margin: 25rem calc(var(--sp-600) * -1) 0 calc(var(--sp-600) * -1);
            background-color: var(--background_color);
        }//text_area headline

        .block.article-intro {
            --column_span: 9;
        }//text_area headline
        
        .social_links.block{
            --column_span: 3;
            --column_start: 11;
            .content{
                justify-content: center;
            }
        }//.social_links
    }

    &.no-image{
        .article-image.block{
            display: none;
        }
        .block.article-headline {
            margin: var(--sp-600) calc(var(--sp-600) * -1) 0 calc(var(--sp-600) * -1);
        }//text_area headline

    }

    

}//hero--article