@use "sass:color";
@use "../abstracts" as *;

.content--accordian {
  .block {
    margin: var(--sp-400) 0;
  }
  dd {
    max-height: 0;
    transition: 0.3s all;
    overflow: hidden;
    border-bottom: 1px solid var(--grey-300);
    margin-bottom: var(--sp-300);
    display: flex;
    flex-direction: column;
    gap: var(--sp-200);

    p {
      max-width: clamp(20rem, 80%, 50rem);
      font-family: $sans_font;
      --text_color: var(--grey-800);
    }
  }

  dt {
    margin: var(--sp-300) 0;

    button {
      display: flex;
      border: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      text-decoration: none;
      color: var(--text_color);
      background: transparent;
      cursor: pointer;
      text-align: left;
      transition: 0.3s all;

      &:hover,
      &:focus {
        --text_color: var(--accent);
      }

      &:focus {
        border-radius: 2px;
        transform: translateY(-0.25rem);
        outline: 0px solid var(--accent);
      }

      h4 {
        font-weight: 400;
      }
      svg {
        width: var(--sp-600);
        height: var(--sp-600);
        * {
          stroke: var(--text_color);
          stroke-width: 1.5;
          transition: 0.3s all;
          transform-origin: center center;
        }
      }
    }
    &.active {
      button {
        --text_color: var(--accent);
        svg {
          path.vertical {
            transform: rotate(90deg);
          }
        }
      }
      & + dd {
        max-height: 100%;
        padding: 0 0 var(--sp-400) var(--sp-600);
      }
    }
  }
}

// button {

//     svg{
//         .fill{
//             fill:currentColor;
//             transition: color .25s ease-in-out;
//         }
//     }

//     &:hover,
//     &:focus {
//         color:var(--accent);
//         // transform: scale(1.1);
//     }

//     &:focus {
//         outline: 0px solid var(--accent);
//         // background:var(--grey-200);
//         // outline-offset: -4px;
//         // transform: scale(1.25);
//     }

//     &:active {
//         // transform: scale(0.99);
//     }
// }
