@use "sass:color";
@use '../abstracts' as *;
@use '../components' as *;


.content--insights{
    grid-row-gap: 0;
    
    .block{
        gap: 0;
        margin: 0 calc(var(--gap) * -1);
        .insight_card{
           display: flex;
           flex-direction: column;
           margin: 0 0  var(--sp-300) 0;
            padding: 0 var(--gap);
            a{
                text-decoration: none;
                &:hover, &:focus{
                    --text_color:var(--accent);
                }
            }
           .image_area{
               padding-bottom:52%;
               position: relative;
               .content{
                   @include image_cover();
                   img{
                    @include image_cover();
                   }
               }
           }
           .text_area{
               margin-top: var(--sp-300);
               padding-bottom: var(--sp-800);
               position: relative;
               flex-grow: 1;
               
               .content{
                   padding-bottom: var(--sp-400);
                   .tag{
                        color: var(--accent);
                    }
               }
               .insight_footer{
                    position: absolute;
                    bottom: 0;
                    height: var(--sp-800);
                    width: 100%;
                    background-image: linear-gradient(0deg, var(--background_color) 20%,transparent 100%); 
                    display: flex;
                    // outline:1px solid green;
                    align-items: center;
                    .tag{
                        flex-grow: 1;
                        font-size: .8125rem;
                        font-weight: 500;
                        color: var(--grey-700);
                        font-family: $sans_font;
                    }
                    button{
                        width: var(--sp-500);
                    }

               }
           }


        }//insight_card
    
        &.horizontal{
            .insight_card{
                flex-direction: row;
                gap: var(--gap);
                border: 0 !important;
                .image_area, .text_area{
                    width: 50%;
                    flex-grow: 1;
                    flex-shrink: 1;
                }
                .image_area{
                    margin-right: var(--gap);
                    padding: 0;
                    height: 18rem;
                }
                .text_area{
                    padding:0;
                    margin: 0;
                    border-bottom: 1px solid var(--grey-300);
                    .content{
                        padding:0;
                        margin: 0;
                        gap: 0;
                        overflow: hidden;
                        max-height: 18rem;
                        .tag{
                            margin-bottom: var(--sp-200);
                        }
                        h4{
                            margin-bottom: var(--sp-200);
                        }
                        p{
                            margin-bottom: var(--sp-300);
                        }
                    }


                }
            }
            &.grid-1{
                .insight_card{
                    .image_area{
                        height: 23rem;
                    }
                    .text_area{
                        .content{
                            max-height: 23rem;
                            h4{
                                font-size: 2.125rem;
                                line-height: 1.1;
                                @include lg {
                                    font-size: 2.5rem;
                                }
                            }
                        }
    
    
                    }
                }
            }
            &.grid-2{
                .insight_card{
                    .text_area{
                        .content{

                            h4{
                                font-size: 1rem;
                                line-height: 1.45;
                                @include lg {
                                    font-size: 1.25rem;
                                }
                            }
                            p{
                                font-size:.875rem;
                                line-height: 1.45;
                
                                @include lg {
                                    font-size: .9375rem;
                                }
                            }
                        }
    
    
                    }
                }
            }
        }//horizontal

        //hacky way to control borders
        // apply border left, except to the first child and the first in each row 
        // using the grid-x utiliy class to know how many items are in each row

        // need to add the additional border:0; with equal specificity to clear 
        // extra borders from multiple grid-x classes at differnt media queries
        @for $i from 1 through 6 {
            &.grid-#{$i} {
                .insight_card:not(:first-child):not(:nth-child(#{$i}n + 1)){
                    border-left:1px solid var(--grey-300);
                }
            }
            @include sm() {
                &.grid-sm-#{$i} {
                    .insight_card:not(:nth-last-child(99)):not(:nth-child(99)){
                        border: 0;
                    }
                    .insight_card:not(:first-child):not(:nth-child(#{$i}n + 1)){
                        border-left:1px solid var(--grey-300);
                    }
                }
            }
            @include md() {
                &.grid-md-#{$i} {
                    .insight_card:not(:nth-last-child(99)):not(:nth-child(99)){

                        border: 0;
                    }
                    .insight_card:not(:first-child):not(:nth-child(#{$i}n + 1)){
                        border-left:1px solid var(--grey-300);
                    }
                }
            }
            @include lg() {
                &.grid-lg-#{$i} {
                    .insight_card:not(:nth-last-child(99)):not(:nth-child(99)){
                        border: 0;
                    }
                    .insight_card:not(:first-child):not(:nth-child(#{$i}n + 1)){
                        border-left:1px solid var(--grey-300);
                    }
                }
            }
            @include xl() {
                &.grid-xl-#{$i} {
                    .insight_card:not(:nth-last-child(99)):not(:nth-child(99)){

                        border: 0;
                    }
                    .insight_card:not(:first-child):not(:nth-child(#{$i}n + 1)){
                        border-left:1px solid var(--grey-300);
                    }
                }
            }

        }//for loop grid classes

    }//block
    
}//section




