#checkforrepeat {
  --hello:repeated;
}

.content--at_a_glance {
  position: relative;
}
.content--at_a_glance .block {
  margin: var(--sp-600) 0;
  transition: 0.3s max-height;
  display: flex;
}
.content--at_a_glance .block .text_area {
  outline: 1px solid green;
}
.content--at_a_glance .block .text_area .content h3 {
  font-size: 3.75rem;
  line-height: 1;
}
.content--at_a_glance .block .text_area .content p {
  color: var(--grey-700);
  line-height: 1.2;
}
.content--at_a_glance .block .text_area:nth-last-child(-n+2):first-child .content h3, .content--at_a_glance .block .text_area:nth-last-child(-n+2):first-child ~ .text_area .content h3 {
  font-size: 4.5rem;
}
.content--at_a_glance .block .text_area:nth-last-child(-n+1):first-child .content h3, .content--at_a_glance .block .text_area:nth-last-child(-n+1):first-child ~ .content--at_a_glance .block .text_area .content h3 {
  font-size: 7rem;
}