@use "sass:color";
@use "../abstracts" as *;

.hero--core {
  min-height: 35rem;

  .block {
    position: relative;
    --column_span: 5;
    --column_start: 2;
    margin: auto 0;
    padding: var(--sp-500) var(--sp-700);

    border-top: 3px var(--accent) solid;
    background: var(--background_color);

    .text_area {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .content {
        display: flex;
        flex-direction: column;
        gap: var(--sp-400);
        > * {
          margin: 0;
          color: var(--text_color);
        }
        .tag {
          color: var(--accent);
          font-weight: 500;
        }
        hr {
          border: 1px solid var(--grey-200);
          position: relative;
          display: block;
          clear: both;
          width: 100%;
        }
      }
    }

    //position setting
    &.right {
      --column_start: 9;
    }
    &.center {
      --column_span: 10;
      --column_start: 3;
      text-align: center;
    }
    &.bottom {
      --column_start: 2;
      --column_span: 8;
      --text_color: #{$color_white};
      --background_color: transparent;

      margin-bottom: 0;
      margin-top: auto;
      padding: var(--sp-800) 0;
      border-top: 0;
      .content {
        .tag {
          color: var(--text_color);
          border-left: 3px solid var(--accent);
          padding-left: 0.75rem;
          font-weight: 400;
        }
      }
    }

    // height setting
    &.fill_height {
      margin: var(--sp-700) 0;
    }

    //background setting
    &.clear {
      --text_color: #{$color_white};
      --accent: #{$color_white};
      --background_color: transparent;

      border-top: 3px var(--background_color) solid;
    }
    &.translucent {
      background: color.adjust($color_white, $alpha: -0.2);
    }
  } //text_area
} //hero--core
