@charset "UTF-8";
#checkforrepeat {
  --hello:repeated;
}

.promo--full_width a.block {
  --items_per_row:2;
  --text_color:white;
  padding: var(--sp-900) var(--sp-400);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s all;
}
.promo--full_width a.block * {
  transition: 0.3s all;
}
.promo--full_width a.block .text_area .content h3 {
  font-weight: 400;
}
.promo--full_width a.block .text_area .content h3::after {
  content: "→";
  display: inline-block;
  color: currentColor;
  position: relative;
  transition: 0.3s all;
  margin-left: 0.5em;
}
.promo--full_width a.block:hover:hover h3::after {
  margin-left: 1em;
}
.promo--full_width a.block:hover:hover .fill img {
  width: 110%;
}